<?
	$GLOBALS['cfg'] = array();

	$GLOBALS['cfg']['db_main'] = array(
		'host'	=> 'HOST',
		'user'	=> 'USER',
		'pass'	=> 'PASS',
		'name'	=> 'DB-NAME',
	);

	$GLOBALS['cfg']['smarty_template_dir'] = FLAMEWORK_INCLUDE_DIR."../templates/";
	$GLOBALS['cfg']['smarty_compile_dir'] = FLAMEWORK_INCLUDE_DIR."../templates_c/";
	$GLOBALS['cfg']['smarty_compile'] = 1;

	$GLOBALS['cfg']['root_url'] = '/bad-toys/';
